<p id="notice"><%= notice %></p>

<h1>User Meta</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Meta key</th>
      <th>Meta value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_meta.each do |user_metum| %>
      <tr>
        <td><%= user_metum.user_id %></td>
        <td><%= user_metum.meta_key %></td>
        <td><%= user_metum.meta_value %></td>
        <td><%= link_to 'Show', user_metum %></td>
        <td><%= link_to 'Edit', edit_user_metum_path(user_metum) %></td>
        <td><%= link_to 'Destroy', user_metum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Metum', new_user_metum_path %>


